{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/env",
            {
                "modules": false,
                "targets": {
                    "browsers": "> 0.25%, not ie 11, not op_mini all, not dead",
                    "node": 8
                },
                "useBuiltIns": false
            }
        ]
    ],
    "env": {
        "test": {
            "presets": ["@babel/env"]
        }
    },
    "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread"]
}
