# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# npm package lock
package-lock.json

# project files
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
jest.config.js
rollup.config.js
tsconfig.json

# Sources
src

# Coverage
coverage

# Docs
docs